body {
  margin: 0;
}

img {
  height: auto;
  width: 20rem;
}

.image-box {
    border: 1px solid hsl(0, 0%, 75%);
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  align-items: center;
  border: 1px solid hotpink;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 75vw;
}

p {
  font-size: 1.5rem;
}

code {
  background: hsl(0, 0%, 90%);
  font-family: monospace;
}