body {
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  align-items: center;
  background-image: url("../../assets/images/beach-sunset.jpg");
  border: 1px solid hsl(0, 0%, 75%);
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 75vw;
}

.content h1 {
  padding: 2rem 3rem;
  background: hsla(0, 0%, 0%, 0.3);
  border: 1px solid white;
  font-size: 2rem;
  color: white;
}